/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'McLaren';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('McLaren'), local('McLaren-Regular'), url(https://fonts.gstatic.com/s/mclaren/v7/2EbnL-ZuAXFqZFXIeYEV9w.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 3%;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background-color: #dfcdc3;
  height: 200px;
  color: #3c4245;
}
.page-wrapper {
  width: 85%;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 4%;
}
.nav-container nav {
  display: flex;
}
@media (max-width: 500px) {
  .nav-container nav {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
  }
}
.nav-container nav a {
  font-size: 2.5rem;
  text-decoration: none;
  margin-right: 4.5%;
  color: #3c4245;
  padding-bottom: 5%;
}
.nav-container nav a:hover {
  color: #719192;
}
.intro {
  background-color: aliceblue;
  padding: 7% 4%;
  border-radius: 5px;
  margin-bottom: 5%;
  text-align: center;
}
.intro .intro-img {
  padding-bottom: 5%;
}
.intro h1 {
  font-size: 5rem;
  padding-bottom: 5%;
}
.intro h3 {
  font-size: 2.5rem;
  padding-bottom: 5%;
  border-bottom: 1px solid #3c4245;
}
.intro p {
  font-size: 2.5rem;
  padding-top: 5%;
  padding-bottom: 5%;
}
.intro .intro-p-btn button {
  font-size: 1.8rem;
  text-decoration: none;
  padding: 0.9%;
  background-color: #719192;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.intro .intro-p-btn p {
  text-align: center;
}
.middle-section {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  padding: 2%;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .middle-section {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
.middle-section .info {
  width: 50%;
  text-align: start;
  padding: 5%;
}
@media (max-width: 500px) {
  .middle-section .info {
    width: 100%;
    text-align: center;
  }
}
.middle-section .info h2 {
  font-size: 5rem;
  margin-bottom: 5%;
}
.middle-section .info p {
  margin-top: 14%;
}
.middle-section .stuff {
  width: 50%;
  text-align: start;
  padding: 2%;
}
@media (max-width: 500px) {
  .middle-section .stuff {
    width: 100%;
    text-align: center;
  }
}
.middle-section .stuff h2 {
  font-size: 5rem;
  margin-bottom: 5%;
  text-align: center;
  line-height: 57px;
}
.middle-section .stuff table,
.middle-section .stuff th,
.middle-section .stuff td {
  border: 1px solid #3c4245;
  padding: 2%;
  text-align: center;
}
.contact {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9%;
  background-color: aliceblue;
  padding: 7% 4%;
  border-radius: 5px;
}
.contact h1 {
  padding-bottom: 7%;
  font-size: 5rem;
}
.contact .contact-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.contact .contact-info-wrapper .email,
.contact .contact-info-wrapper .twitter {
  margin-right: 3%;
  display: flex;
  cursor: pointer;
}
.contact .contact-info-wrapper .email a {
  padding-right: 15%;
  text-decoration: none;
  color: #3c4245;
}
.contact .contact-info-wrapper .email a:hover {
  color: #719192;
}
.contact .contact-info-wrapper .twitter a {
  padding-right: 15%;
  text-decoration: none;
  color: #3c4245;
}
.contact .contact-info-wrapper .twitter a:hover {
  color: #719192;
}
.work-history {
  margin-bottom: 10%;
}
.work-history h1 {
  font-size: 5rem;
  padding-bottom: 7%;
  text-align: center;
}
.work-history table,
.work-history th,
.work-history td {
  border: 1px solid #3c4245;
  padding: 2%;
  text-align: center;
  font-size: 1.5rem;
}
footer {
  font-size: 1.5rem;
  background-color: aliceblue;
  padding: 4% 1.5%;
  border-radius: 5px;
  text-align: center;
}
