// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


// --- IMPORTS
@import url('https://fonts.googleapis.com/css?family=McLaren|Poppins|Raleway&display=swap');

// --- VARIABLES

@font-large: 5rem;
@font-medium: 2.5rem;
@font-small: 1.5rem;
@bottom: 5%;
@align-start: start;
@align-center: center;

//colors
@pink: #dfcdc3;
@green: #719192;
@gray: #5f6769;
@dark-gray: #3c4245;
@black: black;



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%; 
	padding: 3%;
	font-size:62.5%;
	font-family: 'Poppins', sans-serif;	
	background-color: @pink;
	height: 200px;
	color: @dark-gray;
}



.page-wrapper{
	width: 85%;
	margin: 0 auto;	
}

// --- NAV

.nav-container{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding: 4%;


	nav{
		display: flex;
		
		a{
			font-size: @font-medium;
			text-decoration: none;
			margin-right: 4.5%;
			color: @dark-gray;
		}
	}
}


// --- INTRO SECTION

.intro{
	background-color:aliceblue;
	padding: 7% 4%;
	border-radius: 5px;
	margin-bottom: 5%;
	text-align: center;

	.intro-img{
		padding-bottom: @bottom;
	}

	h1{
		font-size: @font-large;
		padding-bottom: @bottom;
	}

	h3{
		font-size: @font-medium;
		padding-bottom: @bottom;
		border-bottom: 1px solid @dark-gray;
	}  

	p{
		font-size: @font-medium;
		padding-top: @bottom;
		padding-bottom:@bottom;
	}

	.intro-p-btn{
		button{
			font-size: 1.8rem;
			text-decoration: none;
			padding: 0.9%;
			background-color: @green;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}//button
	}//.intro-p-btn
}//.intro



// --- MIDDLE SECTION

.middle-section{
	font-size: @font-small;
	display: flex;
	width: 100%;
	padding: 2%;
	.info{
		width:50%;
		text-align: @align-start;
		padding:@bottom;
		h2{
			font-size: @font-medium;
			margin-bottom:5%;
		}
		
	}

	.stuff{
		width:50%;
		text-align: @align-start;
		padding:2%;
		h2{
			font-size: @font-medium;
			margin-bottom:5%;
			text-align: @align-center;
		}

		table, th, td {
			border: 1px solid black;
			padding: 2%;
			text-align: @align-center;
		  }

	}
}